
        /* COURSE */
        /* ----------------------------------------- */

        #course-page {

            .passed{
                color: map-get($colors,'grean');
            }

            .failed{
                color: map-get($colors,'red');
            }

            .satisfactory{
                color: map-get($colors,'yellow');
            }

        }

        #course{

            .description{
                font-size: 80%;
            }

            .label-passed{
                background-color: map-get($colors,'grean');
            }

            .label-failed{
                background-color: map-get($colors,'red');
            }

            .label-satisfactory{
                background-color: map-get($colors,'yellow');
            }

            .label-pending{
                background-color: map-get($colors,'888');
            }

        }
