

    /* DASHBOARD (Home Screen) */
    /* ----------------------------------------- */

        #list {

            form.search {
                margin-bottom: 10px;
                position: relative;

                section.column {
                    padding: 0;
                    &.pad {
                        padding: 0 10px;
                    }

                    > div {
                        position: relative;
                    }
                }

                input {
                    line-height: normal;
                    width: 100%;
                }

                button {
                    border: none;
                    background: none;
                    position: absolute;
                    right: 0;
                    top: 4px;
                }

                border-bottom: 1px solid #EEE;

            }

        }