
	/* DASHBOARD (Home Screen) */
	/* ----------------------------------------- */

		#report {

			form.search {
				margin-bottom: 10px;
				position: relative;
				border-bottom: 1px solid #EEE;

				section.column {
					padding: 0;
					&.pad {
						padding: 0 10px;
					}

					> div {
						position: relative;
					}
				}

				input {
					line-height: normal;
					width: 100%;
				}

				&>button {
					border: none;
					background: none;
					position: absolute;
					right: 0;
					top: 4px;
				}

			}

		}

		#report-management {
			.files li {
				width:100%;
			}
		}

		#view-report {
			h2 {
				padding-bottom:10px;
				small {
					font-size:80%;
				}
			}
			table {
				table-layout:fixed;
			}
			small {
				font-style:italic;
			}
		}
